body {
  padding: 0;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, minmax(110px, auto));

  gap: 20px;
}

.container div {
  border: 2px solid blue;
  padding: 20px;
}

#subgrid {
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: 2fr 1fr;

  grid-column: 1 / 4;
  grid-row: 2 / 4;
}
