body {
  margin: 0;
  padding: 0;
}

.wrapper {
    display: grid; 
    /* gap: row-gap column-gap;  */
    gap: 1em 0; 
    /* fit as many as you can */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 

    /* giving size. the grid-auto-rows or grid-auto-column specify the size of implicited created rows/columns*/
    grid-auto-rows: minmax(100px, auto); 
    min-height: 100vh; 
}

.inner-box {
    background-color: lightblue; 
    border: 2px solid red; 
}

/* .one {
    grid-area: one;
}
.two {
    grid-area: two; 
}
.three {
    grid-area: three; 
}
.four {
    grid-area: four; 
}
.five {
    grid-area: five; 
}
.six{ 
    grid-area: six; 
}
 */
